@import url("https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.content-width {
  padding: 0 9%;
}
h1 {
  font-size: 6rem;
  margin-bottom: 23px;
  letter-spacing: -4px;
  font-family: "Spectral", serif;
}
.hero p {
  font-size: 18px;
  margin-bottom: 23px;
  width: 300px;
  line-height: 1.2;
}

header {
  background-color: #ffc016;
}
nav {
  background-color: #ffc016;
  display: flex;
  justify-content: center;
  border-bottom: black 1px solid;
  position: sticky;
  top: 0;
  z-index: 1;
}
.navbar {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  padding-block: 16px;
}
.navbar-right {
  display: flex;
  gap: 16px;
  align-items: center;
}
button {
  background-color: black;
  color: white;
  padding: 8px 16px;
  border: 0;
  border-radius: 16px;
  margin: 8px 0px;
}
ul {
  display: flex;
  gap: 12px;
  height: fit-content;
}
nav li {
  font-size: 14px;
  list-style-type: none;
}
.hero {
  position: relative;
}
.hero-wrap {
  padding-block: 80px;
  border-bottom: 1px solid black;
}
.hero svg {
  max-width: 500px;
  position: absolute;
  right: 0;
  top: 0;

}
.hero button {
    padding-inline: 32px;
    font-size: 16px;
  }
section{
    padding-block: 40px;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
}
.cardTrend{
    display: flex;
    padding-block: 16px;
    gap: 16px;
    width: 33.3%;
}
.number{
    font-weight: 600;
    font-size: 26px;
    color: #E6E7E7;
}

.card1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card1 h3{
    font-weight: 700;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}
.card1 span {
    font-weight: 400;
    font-size: 12px;
    color: darkgrey;
}
h4{
    font-weight: 600;
    font-size: 12px;
    display: inline-block;
    color: rgb(84, 83, 83);
}
.sectionTr{
    border-bottom: 1px solid gainsboro;
}
.section2{
    display: flex;
    padding-block: 60px;
    gap: 68px;
}
.articles-box{
    width: 60%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.article{
    display: flex;
    justify-content: space-between;
    gap: 12px;
}
.article img{
    height: 130px;
    object-fit: cover;
}
.writer-cont img{
    width: 24px;
    height: inherit;
}
h2{
    font-size: 18px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
}
.infoArticle p{
    font-weight: 400;
    font-size: 15px;
    color: grey;
}
.infoArticle{
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-between;
    min-width: 65%;
}
.writer-cont{
    display:flex;
    align-items: center;
    gap: 8px;
}
.writer-cont p{
    font-size: 12px;
    font-weight: 500;
}
.span-container{
    display: flex;
    align-items: center;
    gap: 4px;
}
.span-container img{
    width: 14px;
    height: auto;
}
aside{
    width: 40%;
    height: 500px;
}
.asideButton{
    border-radius: 4px;
    background-color: transparent;
    color: grey;
    border: 1px solid gainsboro;
    font-size: 12px;
    margin: 4px 0;
}
.buttons-container{
    margin-top: 8px;
    padding-bottom: 24px;
    border-bottom: gainsboro 1px solid;
}
.anchors-container{
    margin-top: 20px;
}
.anchors-container a{
    display: inline-block;
    color: grey;
    font-size: 12px;
    margin-right: 24px;
    text-decoration: none;
    margin-bottom: 8px;
}